{% extends 'pages/base.html' %}


{% block index %}
<main id="main" class="main">

  <div class="pagetitle">

    <h1>Achat de la casterie </h1>
    <nav>
      <ol class="breadcrumb text-danger ">
        <li class="breadcrumb-item text-primary"><a href="{% url 'index'%} ">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{% url 'vente'%} ">vendre la casterie</a></li>
        <li class="breadcrumb-item"><a href="{% url 'fondrerie'%} ">transformer la casterie</a></li>
        <li class="breadcrumb-item"><a href="{% url 'rafinage' %} ">transformer l'etain</a></li>
        <li class="breadcrumb-item"><a href="{% url 'vente_etain'%} ">vendre l'etain</a></li>
        <li class="breadcrumb-item"><a class="" href="{% url 'add_Achat'%}">+ acheter</a></li>
        <li class="breadcrumb-item active">faites l'Achat ici</li>
      </ol>
      <a class=" btn btn-primary" href="{% url 'add_vente_etain'%}">+ acheter</a>
    </nav>
  </div><!-- End Page Title -->

  <div class="contenair">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">

          <section class="section dashboard">
            <h2 class="card alert alert-success align-items-center"> statistiques</h2>
            <div class="contenair-fluid">
              <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-12">
                  <div class="row align-items-center">

                    <!-- Sales Card -->
                    <div class="col-xxl-3 col-md-6">
                      <div class="card info-card sales-card">

                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6></h6>
                            </li>

                          </ul>
                        </div>

                        <div class="card-body">
                          <h5 class="card-title">la somme de toute Quantite achater</h5>

                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">

                              <h6 id="casterie" class="text-danger">{{ somme_achat }} kg</h6>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin card 1 -->

                    <div class="col-xxl-3 col-md-6">
                      <div class="card info-card sales-card">

                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6></h6>
                            </li>

                          </ul>
                        </div>

                        <div class="card-body">
                          <h5 class="card-title">la somme de quantité vendue</h5>

                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">

                              <h6 id="casterie" class="text-danger">{{ somme_vente }} kg</h6>
                              


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin card 2 -->

                    <div class="col-xxl-3 col-md-6">
                      <div class="card info-card sales-card">

                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6></h6>
                            </li>

                          </ul>
                        </div>

                        <div class="card-body">
                          <h5 class="card-title">la somme de la quantité transformée </h5>

                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">
                              <h6 id="casterie" class="text-danger">{{ somme_trans_cast }} kg</h6>



                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin partie 3 -->
                                        <!-- fin card 2 -->

                                        <div class="col-xxl-3 col-md-6">
                                          <div class="card info-card sales-card">
                    
                                            <div class="filter">
                                              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <li class="dropdown-header text-start">
                                                  <h6></h6>
                                                </li>
                    
                                              </ul>
                                            </div>
                    
                                            <div class="card-body">
                                              <h5 class="card-title">la somme de la quantité commandée </h5>
                    
                                              <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                  <i class="bi bi-cart"></i>
                                                </div>
                                                <div class="ps-3">
                                                  <h6 id="casterie" class="text-danger">{{ s_qt_non_livree }} kg</h6>
                    
                    
                    
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- fin partie 3 -->
                    

                    <div class="col-xxl-3 col-md-6">
                      <div class="card info-card sales-card">

                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6></h6>
                            </li>

                          </ul>
                        </div>

                        <div class="card-body">
                          <h5 class="card-title">la somme de la quantité livrée</h5>

                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">

                              <h6 id="casterie" class="text-danger">{{ somme_livree_cast }} kg</h6>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                      <div class="card info-card sales-card">

                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6></h6>
                            </li>

                          </ul>
                        </div>

                        <div class="card-body">
                          <h5 class="card-title"> quantité en stock de la casterie</h5>

                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">

                              <h6 id="casterie" class="text-danger">{{ stock_casterie  }} kg</h6>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin partie 4 -->
                  </div>
          </section>
          <!-- <section class="section">
            <div class="row">
              <div class="col-lg-12">
      
                <div class="card">
                  <div class="card-body">
                    
                   
                    <form class="row g-3 align-items-center">
                     
                     
                     
                      <div class="col-md-3">
                        <label for="validationDefault05" class="form-label">g</label>
                        <input type="text" class="form-control" id="validationDefault05" required>
                      </div>
                      <div class="col-12">
                        
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </div>
                    </form>
                    End Browser Default Validation -->
      
                  </div>
                </div>
      
              </div>
            </section> 
            <h2 class="card alert alert-danger"> la moyenne de la casterie est de  {{moyenne_teneur}} %</h2>
          <section class="section">
            <div class="row">
              <div class="col-lg-12">

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Datatables</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable ">
                      <thead>
                        <tr>
                          <th scope="col">*</th>
                          <th scope="col">fournisseurs</th>
                          <th scope="col">produits</th>
                          <th scope="col">quantite</th>
                          <th scope="col">prix_achat</th>
                          <th scope="col">depense</th>
                          <th scope="col">montant</th>
                          <th scope="col">description</th>
                          <th scope="col">prix_total</th>
                          <th scope="col">numero_tag</th>
                          <th scope="col">teneur</th>
                          <th scope="col">date_achat</th>
                          <th scope="col">mine</th>
                        </tr>
                      </thead>
                     
                      <tbody>
                        {% for all_achat in all_achats %}
                        <tr>
                          <th scope="row"><a class="btn btn-secondary text-white" href="{% url 'update_achat' all_achat.id%}">modifer</a></th>
                          <th scope="row">{{all_achat.fournisseurs.nom_fournisseurs}}</th>
                          <th scope="row">{{all_achat.produits.nomProdui}}</th>
                          <th scope="row">{{all_achat.quantite_en_kg}} kg</th>
                          <th scope="row">{{all_achat.prix_achat_en_dollard}} $</th>
                          <th scope="row">{{all_achat.depanses.name}} </th>
                          <th scope="row">{{all_achat.montant_depanses_en_dollard}}</th>
                          <th scope="row">{{all_achat.descriptions}}</th>
                          <th scope="row">{{all_achat.prix_total_en_dollard}}</th>
                          <th scope="row">{{all_achat.numero_tag}}</th>
                          <th scope="row">{{all_achat.teneur_en_pourcentage}}</th>
                          <th scope="row">{{all_achat.date_entrer}}</th>
                          <th scope="row">{{all_achat.source_minier}}</th>
                          
                        </tr>
                        {% endfor %}
                      </tbody>
                      <thead class="alert-success text-danger text-bold">
                        <tr>
                          <th>total</th>
                          <th></th>
                          <th></th>
                          <th>{{all_quantite}} kg</th>
                          <th>{{all_prices}} $</th>
                          <th></th>
                          <th>{{all_amount}} $</th>
                          <th></th>
                          <th>{{all_total_prices}} $</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                    <!-- End Table with stripped rows -->

                  </div>
                </div>

              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>

</main>


{% endblock %}