{% extends 'pages/base.html' %}


{% block index %}
<main id="main" class="main">

    <div class="pagetitle">

        <h1>Achat de la casterie </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index'%} ">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{% url 'index'%} ">vendre la casterie</a></li>
                <li class="breadcrumb-item"><a href="{% url 'index'%} ">transformer la casterie</a></li>
                <li class="breadcrumb-item"><a href="{% url 'achat'%} ">table d'achat</a></li>
                <li class="breadcrumb-item active">faites l'achat ici</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="contenair">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                  <section class="section">
            <div class="row">
              <div class="col-lg-12">
      
                <div class="card">
                  <div class="card-body">
                  <div class="contenair">
                    <div class="row">
                      <div class="col-md-3">

                      </div>
                      <div class="col-md-6 ">
                        <div class="class">
                          <p class="alert alert-success text-center "> de transformations</p>
                        </div>
                        <div class="class">
                      <p class="alert alert-success text-center ">la qquantité sortie au four de rafinage est de {{request.all_fondrerie.id}}</p>
                    </div>
                      <form class="row g-3 align-items-center" method="post" action="">
                     {% csrf_token %}
                     
                     <div class="col-12 form-control">
                        {{form}}
                        
                        <button class="btn btn-primary" type="submit">sumettre</button>
                      </div>
                    
                    </form>
                      </div>
                      <div class="col-md-3">
                    
                      </div>
                    
                    </div>
                  
                  </div>  
                   
                    
                </div>
            </div>
        </div>
    </div>


</main>
{% load static %}
<script type="text/javascript" src="{% static './assets/js/jquery-3.0.0.min.js' %}"></script>
<script>
  $(document).ready(function () {
  $("#id_quantite_entrer_casterie").keyup(function () {
   
    
    var qut = $("#id_quantite_entrer_casterie").val();
   
    $("#id_teneur_casterie").val(parseFloat('{{moyenne_teneur}}'));
  })
})
</script>



{% endblock %}