{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AMM</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static './assets/img/favicon.png' %} " rel="icon">
  <link href=" {% static './assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="{% static './assets/vendor/bootstrap/css/bootstrap.min.css ' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
 
  <link href="{% static './assets/css/main.css' %}" rel="stylesheet">
 
</head>

<body>


    <header id="header" class="header fixed-top d-flex align-items-center">
    
        <div class="d-flex align-items-center justify-content-between">
          <a href="../ " class="logo d-flex align-items-center">
            <img src="{% static './assets/img/logo.png '%}" alt="">
            <span class="d-none d-lg-block">SMART AMM</span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
    
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
    
            <!-- End Search Icon-->
    
            <li class="nav-item dropdown">
                
              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-bell"></i>
                
                <span class="badge bg-primary badge-number">0</span>
    
              </a><!-- End Notification Icon -->
    
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                <li class="dropdown-header">
                  vous avez une alerte
                 
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li class="notification-item">
                  <i class="bi bi-exclamation-circle text-warning"></i>
                  <div>
                    <h4 style="color: red;">alerte</h4>
                    <p>{{sango}}</p>
                    <p>30 min. ago</p>
                  </div>
                 
                </li>
    
                
              </ul><!-- End Notification Dropdown Items -->
    
    
            <li class="nav-item dropdown pe-3">
    
              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="{{ request.user.users.image_pic.url }}" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2">Bienvenu {{request.user }}</span>
              </a><!-- End Profile Iamge Icon -->
    
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                  <h6>{{request.user}}</h6>
                  {% if request.user.is_staff %}
                  <h3>Administarteur</h3>
                  {% else %}
                  <h3>Agent</h3>
                  {% endif %}
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'user_profil'%}">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                    <i class="bi bi-gear"></i>
                    <span>paramettre de count</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                    <i class="bi bi-question-circle"></i>
                    <span>aide ?</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'logout'%}">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>deconnexion </span>
                  </a>
                </li>
    
              </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
    
          </ul>
        </nav><!-- End Icons Navigation -->
    
      </header><!-- End Header -->
{% block index %}

{% endblock  %}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="../  ">
          <i class="bi bi-grid"></i>
          <span>tableau de bord</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Opreation</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="../vente/">
              <i class="bi bi-circle"></i><span>Vente casterie</span>
            </a>
          </li>
          
            <li>
              <a href="../vente_etain/">
                <i class="bi bi-circle"></i><span>Vente etain</span>
              </a>
            </li>
            <li>
            <a href="../achat/">
              <i class="bi bi-list"></i><span>Achat casterie</span>
            </a>
          </li>
          <li>
            <a href="../transformation/">
              <i class="bi bi-circle"></i><span>fondrerie</span>
            </a>
          </li>
          <li>
            <a href="../rafinage">
              <i class="bi bi-circle"></i><span>rafinage</span>
            </a>
          </li>
      
        </li>
        
         <!-- End Blank Page Nav -->

    </ul>
<li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-navd" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>paramettre</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-navd" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="../createUser/">
                {% if request.user.is_staff %}
                <i class="bi bi-circle"></i><span>creer un utilisateur</span>
                {% endif %}
              </a>
            </li>
            <li>
              <a href="{% url 'logout' %}">
                <i class="bi bi-circle"></i><span>deconnexion</span>
              </a>
            </li>
          </ul>
        </li>
  </aside>
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>AMM</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://israelmavu.netlify.com/">MAVDEV</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static './assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static './assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static './assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static './assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static './assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static './assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static './assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static './assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static './assets/js/main.js' %}"></script>

</body>

</html>