{% extends 'pages/base.html' %}

{% block index %}


 <br>
 <br>
 <br>
<div class="modal-dialog modal-dialog-scrollable">
 <div class="modal-content">
 
   <div class="modal-body">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">client</h4>

         <!-- General Form Elements -->
         <form method="post" action="">
           {% csrf_token %}
           
           <div class="row mb-3">
            <label for="inputNumber" class="col-sm-3 col-form-label">Nom complet</label>
            <div class="col-sm-9">
              <input  type="text" name="name" class="form-control" value="">
            </div>
          </div>
           <div class="row mb-3">
             <label class="col-sm-3 col-form-label">Sexe</label>
             <div class="col-sm-9">
               <select  class="form-select" name="Sexe" aria-label="Default select example">
                 
                 
                 <option  value="Homme">Homme</option>
                 <option  value="Fomme">Femme</option>
                 
                 
               </select>
             </div>
           </div>
           
           <div class="row mb-3">
            <label for="inputNumber" class="col-sm-3 col-form-label">Telephone</label>
            <div class="col-sm-9">
              <input type="number" name="Telephone" class="form-control" value="">
            </div>
          </div>
   
         

           <div class="row mb-3">
             <label class="col-sm-2 col-form-label"></label>
             <div class="col-sm-10">
               <button type="submit" class="btn btn-primary">sortir</button>
             </div>
           </div>

         </form><!-- End General Form Elements -->

       </div>
     </div>
   </div>
   <div class="modal-footer">
     <a  class="btn btn-primary" href=""> </a>
     
   </div>
 </div>
</div>
</div><!-- End Scrolling Modal-->

{% endblock  %}