{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AMM</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static './assets/img/favicon.png' %} " rel="icon">
  <link href=" {% static './assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static './assets/vendor/bootstrap/css/bootstrap.min.css ' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static './assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
{% load static %}

<main>
    <div class="container">
        <section class="section align-center" id="pt">
            <div class="card">
                <div class="card-body" style="background-color: rgba(255, 255, 255, 0.144) ";>
                  
                  </table>
                     <div style="text-align: center ;">
                      <div class="bg-blue">
                        <div style="text-align: right; margin-top: 20px;">
                            <img src="{% static './assets/img/logo.png '%}" alt="" >
                          </div>
                   
                        <h3 class="">ENTREPRISE A.M.M</h3> 
                          <h5 style="background-color: rgba(80, 80, 83, 0.144);" class="text-primary">Facture N°{{g.id}}  <span style="text-align: right; margin-left: 320px;">date : {{g.date_sortie}}</h4> <br><br>
                            
                            
                            
                              <div class="col-md-12"style="border: 1px solid black;">
                                <div class="row">
                              <div  class="col-md-6">
                            <p> Noms client :{{g.clients.nom_clients}} </p>
                            <p> telephone: {{g.clients.telephone}}</p>
                            <p> sexe : {{g.clients.sexe}}</p>
                            <p> ville : kinshasa</p>

                           </div>
                            
                             <div class="col-md-6"> 
                                <p > Noms agent :{{g.user.name}}</p>
                                <p > ville:{{g.user.ville}}</p>
                            </div>
                            </div>
                           
                            </div>
                            
                              </div>
                                
                                 
                                  
                                    
                             
                            <div class="row">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">produit</th>
                                    <th scope="col">prix de vente</th>
                                    <th scope="col">quantité</th>
                                    <th scope="col">teneur</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>{{g.produits.nomProdui}}</td>
                                    <td>{{g.prix_vente}}</td>
                                    <td>{{g.quantite}}</td>
                                    <td>{{g.teneur}}</td>
                                  </tr>
                                  
                                </tbody>
                                </table>
                              
                                <!-- <div  class="col-md-6" style=" text-align: left;">
                                
                                <h2> Produit : <span style="color: rgb(236, 13, 13);"> {{g.produits.nomProdui}}</span></h2>
                                <h2> quantite par kg : <span style="color: rgb(236, 13, 13);"> {{g.quantite}}kg</span> </h2>
                                <h2> prix unitaire : {{ g.prix_vente }}$</h2>
                                <h2> teneur :{{g.teneur}} %</h2>
                                <h2> prix total : {{g.prix_total}} $</h2>
                              </div> -->
                          <div class="col-md-12">
                            <!-- <div class="row">
                             <div class="col-md-12" style=" ">
                              <div class="row">
                            <div  class="col-md-6" style=" text-align: left;">
                            <h2> Noms client :{{g.clients.nom_clients}} </h2>
                            <h2> telephone: {{g.clients.telephone}}</h2>
                            <h2> sexe : {{g.clients.sexe}}</h2>
                            <h2> ville : kinshasa</h2>
                              </div> -->
                              
                              </div>
                              
                                
                              
                             </div>
                              
                              
                            </div>
                          </div>
                          

                          
                          
                      </div>
                     </div>         
                  </div>
              </div>

            </section>
            <button onclick="myfun('pt')" class="btn btn-primary mt-3">Get Bill</button>

    </div>
  </main><!-- End #main -->
  <!-- <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>AMM</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      
      Designed by <a href="https://israelmavu.netlify.com/">MAVDEV</a>
    </div>
  </footer>End Footer -->


  <!-- Vendor JS Files -->
  <script src="{% static './assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static './assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static './assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static './assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static './assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static './assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static './assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static './assets/vendor/php-email-form/validate.js' %}"></script>
  <script type="text/javascript">
    function myfun(pa){
    var bk = document.body.innerHTML;
    var dv = document.getElementById(pa).innerHTML;
        document.body.innerHTML = dv;
        window.print();
    }

</script>

  <!-- Template Main JS File -->
  <script src="{% static './assets/js/main.js' %}"></script>

</body>

</html>