{% extends 'pages/base.html' %}


{% block index %}

<main id="main" class="main">

    <div class="pagetitle"><h1> {{summe_casterie_sortie_fours}} </h1>
      <h1> {{en_four}} </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href=" ">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">transformation</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>

        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
         
          <li class="nav-item  " role="presentation">
            <button class="nav-link " id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="true">rafinage</button>
          </li>
         
        </ul>
        <div class="tab-content pt-2" id="borderedTabContent">
         
          <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
            
            <section class="section" >
              <div class="row">
                <div class="col-lg-12">
                  
                  <span>
                      
                      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#largeModal">
                          <h4> + Rafiner</h4>
                      </button>
                  </span>
                  
                  
                  <div class="modal fade" id="largeModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">rafinage</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Rafiner ici </h5>
                
                              <!-- General Form Elements -->
                              <form method="post" action="">
                                {% csrf_token %}
                                
                                <div class="row mb-3">
                                  <label class="col-sm-3 col-form-label">produit</label>
                                  <div class="col-sm-9">
                                    <select class="form-select" name="produit" aria-label="Default select example">
                                    {% for i in produit %}
                                      {% if i.nomProdui != 'etainbrut' %}
                                      {% comment %}
                                      <option value="{{i.id}}">{{ i.nomProdui}}</option>
                                      {% endcomment %}
                                      {% else %}
                                      <option value="{{i.id}}">{{ i.nomProdui}}</option>
                                      {% endif %}
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label class="col-sm-3 col-form-label">Four</label>
                                  <div class="col-sm-9">
                                    <select class="form-select" name="Four" aria-label="Default select example">
                                      
                                      {% for i in fourrafines %}
                                      <option value="{{i.id}}">{{i.libelle}}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label for="inputNumber" class="col-sm-3 col-form-label">quantité entrée/Kg</label>
                                  <div class="col-sm-9">
                                    <input type="number" name="quantite" class="form-control">
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label class="col-sm-6 col-form-label">Teneur Moyenne</label>
                                  <div class="col-sm-6">
                                    <input type="number" name = "teneur" class="form-control" value="{{moyenne_teneur}}" disabled>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label for="inputNumber" class="col-sm-4 col-form-label">entrants</label>
                                  <div class="col-sm-8">
                                    <input type="number" name="entrants" class="form-control">
                                  </div>
                                </div>
                                
                                
                
                                <div class="row mb-3">
                                  <label class="col-sm-2 col-form-label"></label>
                                  <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                  </div>
                                </div>
                
                              </form><!-- End General Form Elements -->
                
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>
                          
                        </div>
                      </div>
                    </div>
                  </div><!-- End Scrolling Modal-->
                  <div class="card " >
                    <div class="card-body ">
                      
                      
                        <div class="col-md-12">
                          <div class="row">
                          <div class="col-xxl-3 col-md-6 dashboard">
                            <div class="card info-card sales-card ">
              
              
                              <div class="card-body">
                                <h3 class="card-title"> teneur moyenne etain<span></span></h3>
              
                                <div class="d-flex align-items-center">
                                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                  </div>
                                  <div class="ps-3">
                                    
                                    <h6>{{ moyenne_teneur }} %</h6>
                                    
              
                                  </div>
                                </div>
                              </div>
              
                            </div>
                          </div>
                          <div class="col-xxl-3 col-md-6 dashboard">
                            <div class="card info-card sales-card ">
                              <div class="card-body">
                                <h3 class="card-title">stock etain brut <span></span></h3>
              
                                <div class="d-flex align-items-center">
                                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                  </div>
                                  <div class="ps-3">
                                    
                                    <h6>{{summe_casterie_sortie_fours  }} kg</h6>
                                    
              
                                  </div>
                                </div>
                              </div>
              
                            </div>
                          </div>
                          <div class="col-xxl-3 col-md-6 dashboard">
                            <div class="card info-card sales-card ">
                              <div class="card-body">
                                <h3 class="card-title">etain rafinée sorties<span></span></h3>
              
                                <div class="d-flex align-items-center">
                                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                  </div>
                                  <div class="ps-3">
                                    
                                    <h6>{{etain_sortie  }} kg</h6>
                                    
              
                                  </div>
                                </div>
                              </div>
              
                            </div>
                          </div>
                          <div class="col-xxl-3 col-md-6 dashboard">
                            <div class="card info-card sales-card ">
              
                 
                              <div class="card-body">
                                <h1 class="card-title">stock etain rafinées</h1>
              
                                <div class="d-flex align-items-center">
                                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                  </div>
                                  <div class="ps-3">
                                    
                                    <h6> {{en_four}} kg</h6>
                                    
              
                                  </div>
                                </div>
                              </div>
              
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      
                      <h5 class="card-title"> </h5>
                     
                     
                      <div id = "pt">
                      <!-- Table with stripped rows -->
                      <table class="table datatable" >
                        
        
                        
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">produit</th>
                            <th scope="col">Four </th>
                            <th scope="col">etain brut  entrée</th>
                            <th scope="col">etain rafinée sorties sortie</th>
                            <th scope="col">teneur </th>
                            <th scope="col">entrants</th>
                            <th scope="col">date</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                            {% for i in rafinage %}
                          <tr>
                            
                            <th scope="row">{{ i.id }}</th>
                            {% if i.quantite_sortie != 0.0 %}
                            <td>{{ i.produits.nomProdui }}</td>
                            {% else %}
                            
                            <td>Etain brut</td>
                            {% endif %}
                            
                            <td>{{ i.fourrafine.libelle }}</td>
                            
                            <td>{{i.quantite_entree }}</td>
                            
                            
                            <td ><a class=" text-danger bold " role = "status" href="../sortir_etain/{{ i.id }}">{{i.quantite_sortie }}</a></td>
                          
                            {% if i.teneur_sortie == 0.0 %}
                            <td>en cours...</td>
                            {% else %}
                            <td>{{ i.teneur_sortie }}</td>
                            {% endif %}
                            <td>{{ i.entrants }}</td>
                            <td>{{ i.date_sortie }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        <tbody>
                          <tr>
                            <th scope="row">Total general</th>
                            <td></td>
                            <td></td>
                            <td>{{total_prix_vente}}</td>
                            <td>{{total_quantite}}</td>
                            <td>{{total_general}}</td>
                            <td></td>
                            <td></td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                      <!-- End Table with stripped rows -->
                      
                    </div>
                  </div>
        
                </div>
              </div>
            </section>
            <button onclick="myfun('p')" class="btn btn-primary mt-3">Get Bill</button>
          </div>
          <div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
          </div>
        </div><!-- End Bordered Tabs -->

      </div>
    </div>






  </main><!-- End #main -->

  <script type="text/javascript">
    function myfun(pa){
    var bk = document.body.innerHTML;
    var dv = document.getElementById(pa).innerHTML;
        document.body.innerHTML = dv;
        window.print();
    }

</script>

{% endblock  %}