{% extends 'pages/base.html' %}
  <!-- ======= Header ======= -->


  <!-- ======= Sidebar ======= -->
<!-- End Sidebar-->



  <!-- ======= Footer ======= -->
  
{% block index %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href=" ">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">transformation</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>

        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">fondrerie</button>
          </li>
          
        </ul>
        <div class="tab-content pt-2" id="borderedTabContent">
          <div class="tab-pane  " id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
              
    <section class="section" >
      <div class="row">
        <div class="col-lg-12">
          
          <span>
               <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable">
                <h4>+ Fondre </h4>
              </button>
              
          </span>
          
          
          <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Fondre la casterie</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
        
                      <!-- General Form Elements -->
                      <form method="post" action="">
                        {% csrf_token %}
                        
                        <div class="row mb-3">
                          <label class="col-sm-3 col-form-label">produit</label>
                          <div class="col-sm-9">
                            <select class="form-select" name="produit" aria-label="Default select example">
                              {% for i in produit %}
                              {% if i.nomProdui == 'etain' or i.nomProdui == 'etain brut' %}
                              {% comment %}
                              <option value=""></option>
                              {% endcomment %}
                              {% else %}
                              <option value="{{i.id}}">{{ i.nomProdui}}</option>
                              {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-3 col-form-label">Four</label>
                          <div class="col-sm-9">
                            <select class="form-select" name="Four" aria-label="Default select example">
                              {% for i in fourcasteries %}

                              <option value="{{i.id}}">{{i.libelle}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputNumber" class="col-sm-3 col-form-label">quantité entrée/Kg</label>
                          <div class="col-sm-9">
                            <input type="text" name="quantite" class="form-control">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-6 col-form-label">Teneur Moyenne</label>
                          <div class="col-sm-6">
                            <input type="text" name = "teneur" class="form-control" value="{{moyenne_teneur}}" disabled>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputNumber" class="col-sm-4 col-form-label">entrants</label>
                          <div class="col-sm-8">
                            <input type="text" name="entrants" class="form-control">
                          </div>
                        </div>
                        
                        
        
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label"></label>
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                          </div>
                        </div>
        
                      </form><!-- End General Form Elements -->
        
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>
                  
                </div>
              </div>
            </div>
          </div><!-- End Scrolling Modal-->

          <div class="card " >
            <div class="card-body ">
              
              
                <div class="col-md-12">
                  <div class="row">
                  <div class="col-xxl-3 col-md-6 dashboard">
                    <div class="card info-card sales-card ">
      
      
                      <div class="card-body">
                        <h3 class="card-title"> teneur moyenne casterie<span></span></h3>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                          </div>
                          <div class="ps-3">
                            
                            <h6>{{ moyenne_teneur }} %</h6>
                            
      
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
                  <div class="col-xxl-3 col-md-6 dashboard">
                    <div class="card info-card sales-card ">
                      <div class="card-body">
                        <h3 class="card-title"> casterie en Four<span></span></h3>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                          </div>
                          <div class="ps-3">
                            
                            <h6>{{ summe_casterie_fours }} kg</h6>
                            
      
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
                  <div class="col-xxl-3 col-md-6 dashboard">
                    <div class="card info-card sales-card ">
                      <div class="card-body">
                        <h3 class="card-title">etain brut sortie<span></span></h3>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                          </div>
                          <div class="ps-3">
                            
                            <h6>{{ summe_etain_brut_fours }} kg</h6>
                            
      
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
                  <div class="col-xxl-3 col-md-6 dashboard">
                    <div class="card info-card sales-card ">
      
         
                      <div class="card-body">
                        <h1 class="card-title">stock casterie</h1>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                          </div>
                          <div class="ps-3">
                            
                            <h6> {{en_four}} kg</h6>
                            
      
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
                  
                </div>
              </div>
              
              <h5 class="card-title"> </h5>
             
             
              <div id = "pt">
              <!-- Table with stripped rows -->
              <table class="table datatable" >
                

                
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">produit</th>
                    <th scope="col">Four </th>
                    <th scope="col">casterie  entrées</th>
                    <th scope="col">etain brut sorties sortie</th>
                    <th scope="col">teneur entrée</th>
                    <th scope="col">entrants</th>
                    <th scope="col">date</th>
                    
                  </tr>
                </thead>
                <tbody>
                    {% for i in smeltings %}
                  <tr>
                    
                    <th scope="row">{{ i.id }}</th>
                    {% if i.quantite_out != 0.0 %}
                    <td>Etain brut</td>
                    {% else %}
                    <td>{{ i.produits.nomProdui }}</td>
                    
                    {% endif %}
                    
                    <td>{{ i.fourcasterie.libelle }}</td>
                    {% if i.quantite_entrer != 0.0 %}
                    <td style="color: red;"><a class=" text-danger bold " href="../sortir/{{ i.id }}">{{i.quantite_entrer }} en four<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span></a>  </td>
                    {% else %}
                    <td>{{i.quantite_entrer }} kg restante</td>
                    {% endif %}
                    {% if i.quantite_out == 0.0 %}
                    <td >pas de sortie</td>
                    {% else %}
                    <td>{{i.quantite_out }} kg etain brut</td>
                    {% endif %}
                    <td>{{ i.teneur_entrer }}</td>
                    <td>{{ i.entrants }}</td>
                    <td>{{ i.date_entrer }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tbody>
                  <tr>
                    <th scope="row">Total general</th>
                    <td></td>
                    <td></td>
                    <td>{{total_prix_vente}}</td>
                    <td>{{total_quantite}}</td>
                    <td>{{total_general}}</td>
                    <td></td>
                    <td></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
              <!-- End Table with stripped rows -->
              
            </div>
          </div>

        </div>
      </div>
    </section>
<button onclick="myfun('pt')" class="btn btn-primary mt-3">Get Bill</button>

          
                      <!-- End Table with stripped rows -->
          




  </main><!-- End #main -->

  <script type="text/javascript">
    function myfun(pa){
    var bk = document.body.innerHTML;
    var dv = document.getElementById(pa).innerHTML;
        document.body.innerHTML = dv;
        window.print();
    }

</script>



{% endblock  %}