{% extends 'pages/base.html' %}


{% block index %}
<main id="main" class="main">

  <div class="pagetitle">

    <h1>vente de l'etain </h1>
    <nav>
      <ol class="breadcrumb text-danger ">
        <li class="breadcrumb-item text-primary"><a href="{% url 'index'%} ">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{% url 'vente'%} ">vendre la casterie</a></li>
        <li class="breadcrumb-item"><a href="{% url 'fondrerie'%} ">transformer la casterie</a></li>
        <li class="breadcrumb-item"><a href="{% url 'rafinage' %} ">transformer l'etain</a></li>
        <li class="breadcrumb-item"><a href="{% url 'vente_etain'%} ">vendre l'etain</a></li>
        <li class="breadcrumb-item"><a class="" href="{% url 'add_Achat'%}">+ acheter</a></li>
        <li class="breadcrumb-item active">faites la vente ici</li>
      </ol>
      <a class=" btn btn-primary" href="{% url 'add_vente_etain'%}">+ vendre</a>
    </nav>
  </div><!-- End Page Title -->

  <div class="contenair">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">

          <section class="section dashboard">
            <h2 class="card alert alert-success align-items-center"> statistiques</h2>
            <div class="contenair-fluid">
              <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-12">
                  <div class="row align-items-center">

                    <!-- Sales Card -->
                    <div class="col-xxl-3 col-md-6">
                      <div class="card info-card sales-card">

                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6></h6>
                            </li>

                          </ul>
                        </div>

                        <div class="card-body">
                          <h5 class="card-title"> quantité de l'etain sortie en four</h5>

                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">

                              <h6 id="casterie">{{ s_qt_transformer_etain }} kg</h6>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin card 1 -->

                    <div class="col-xxl-3 col-md-6">
                      <div class="card info-card sales-card">

                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6></h6>
                            </li>

                          </ul>
                        </div>

                        <div class="card-body">
                          <h5 class="card-title">quantité de l'etain vendues</h5>

                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">

                              <h6 id="casterie">{{ s_qt_vente_vente }} kg</h6>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin card 2 -->

                    <div class="col-xxl-3 col-md-6">
                      <div class="card info-card sales-card">

                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6></h6>
                            </li>

                          </ul>
                        </div>

                        <div class="card-body">
                          <h5 class="card-title">quantité de l'etain commandé</h5>

                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">

                              
                              {% if s_qt_non_livree_etain == None %}
                              <h6 id="casterie">0.0 kg</h6>
                              {% else %}
                              <h6 id="casterie">{{ s_qt_non_livree_etain }} kg</h6>
                              {% endif %}



                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin partie 3 -->

                    <div class="col-xxl-3 col-md-6">
                      <div class="card info-card sales-card">

                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6></h6>
                            </li>

                          </ul>
                        </div>

                        <div class="card-body">
                          <h5 class="card-title">quantité de l'etain livré</h5>

                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">

                              <h6 id="casterie">{{ s_qt_livree_etain }} kg</h6>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin partie 4 -->
                    
                    <div class="col-xxl-3 col-md-6">
                      <div class="card info-card sales-card">

                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6></h6>
                            </li>

                          </ul>
                        </div>

                        <div class="card-body">
                          <h5 class="card-title">quantité de l'etain en stock </h5>

                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">

                              <h6 id="casterie">{{ stock_etain }} kg</h6>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          </section>
          <!-- <section class="section">
            <div class="row">
              <div class="col-lg-12">
      
                <div class="card">
                  <div class="card-body">
                    
                   
                    <form class="row g-3 align-items-center">
                     
                     
                     
                      <div class="col-md-3">
                        <label for="validationDefault05" class="form-label">g</label>
                        <input type="text" class="form-control" id="validationDefault05" required>
                      </div>
                      <div class="col-12">
                        
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </div>
                    </form>
                    End Browser Default Validation -->
      
                  </div>
                </div>
      
              </div>
            </section> 
          <section class="section">
            <div class="row">
              <div class="col-lg-12">

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Datatables</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable ">
                      <thead>
                        <tr>
                          <th scope="col">*</th>
                          <th scope="col">client</th>
                          <th scope="col">produits</th>
                          <th scope="col">quantite en kg</th>
                          <th scope="col">prix de vente $</th>
                          <th scope="col">teneur</th>
                          <th scope="col">prix total</th>
                          <th scope="col">date vendue</th>
                          
                        </tr>
                      </thead>
                     
                      <tbody>
                        {% for all_vente in all_ventes %}
                        <tr>
                          <th scope="row"><a class="btn btn-secondary text-white" href="{% url 'update_vente_etain' all_vente.id%}">modifer</a></th>
                          <th scope="row">{{all_vente.clients.nom_clients}}</th>
                          <th scope="row">{{all_vente.produits.nomProdui}}</th>
                          <th scope="row">{{all_vente.quantite_en_kg}}</th>
                          <th scope="row">{{all_vente.prix_vente_en_dollard}}</th>
                          <th scope="row">{{all_vente.teneur_en_pourcentage}}</th>
                          <th scope="row">{{all_vente.prix_total_en_dollard}}</th>
                          <th scope="row">{{all_vente.date_sortie}}</th>
                          
                          
                        </tr>
                        {% endfor %}
                      </tbody>
                      <thead class="alert-success text-danger">
                        <tr>
                          <th>total</th>
                          <th></th>
                          <th></th>
                          <th>{{all_quantite}}</th>
                          <th>{{all_prices}}</th>
                          <th></th>
                          <th>{{all_total_prices}}</th>
                          

                          
                        </tr>
                      </thead>
                    </table>
                    <!-- End Table with stripped rows -->

                  </div>
                </div>

              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>

</main>


{% endblock %}